$bar-bg: rgba(0, 0, 0, 0.7);
$unoccupied-workspace-button-color: rgba(white, 0.1);
$inactive-workspace-button-color: rgba(white, 0.4);
$text-color: white;

$power-menu-bg: rgba(0, 0, 0, 0.9);

$circle-bg: rgba(white, 0.4);

.bar {
  color: $text-color;
  padding-left: 22px;
  padding-right: 12px;
  background-color: $bar-bg;
  border-radius: 100px;
}

button {
  color: $text-color;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
}

.workspace-button {
  font-size: 20px;
  color: $unoccupied-workspace-button-color;
  font-weight: bold;

  &.occupied {
    color: $inactive-workspace-button-color;
  }

  &.active {
    color: $text-color;
  }
}

.power-button {
  font-size: 30px;
}

.background {
  background: none;
}

.power-menu {
  padding: 20px 40px;
  background-color: $power-menu-bg;
  border-radius: 20px;

  button {
    font-size: 80px;

    &:first-child {
      font-size: 115px;
    }

    &:nth-child(2) {
      font-size: 105px;
    }
  }
}

.circle {
  background-color: $circle-bg;
}

.ram-circle {
  font-size: 20px;
}
