window {
  background-image: url("/yachimdata/images/lockscreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

window > overlay > box {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 70px;
  border-radius: 30px;
}
